<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>About Us</h1>
<hr>
<h3>We here at the computer shop try our very best to get you the best computer
components and the best deals in the market whenever possible. We started our company 15 years ago when we worked
out of the founder's, John Smith, garage. Today we embark on providing quality parts and low costs, for consumers like you!</h3>
<br><br>
<h4>Ready To Head Back? Click below</h4>
<a href="http://localhost:8080/">Main Screen</a>

</body>
</html>